.tasks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
  
  .tasks {
    flex-basis: 28%;
    margin: 1em;
    padding: 1em;
}

.taskForm {
  padding: 8em;
  max-width: 60%;
}

  .closeButton {
   margin-left: 100em;
 }
 