.tasks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
  
  .taskListContainer {
    flex-basis: 28%;
    margin: .5em;
    padding: 1em;
}
/* 
.taskForm {
  padding: 8em;
  max-width: 60%;
}

  .closeButton {
   margin-left: 100em;
 } */


 